<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Task Details</title>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/mainStyle.css" rel="stylesheet">
<link href="css/task_detail_Style.css" rel="stylesheet">
</head>

<body>
<div id="page" class="container">

	<div id="topBar">
    <div class="header">Task</div>
	<a href="#Edit the tasks" ><div class="rightBtn"><img src="images/AddTask_btn.png" class="addBtn" /></div></a>

	<div class="LeftBtn"><img src="../public/images/back_btn.png" class="addBtn" /></div>
	</div>
    
  <div id="taskTitle">
    <p>{{task_description}}</p>
	<p><input name="NewTaskValue" type="text" value="{{task_description}}" id="newTaskname" hidden style="text-align:center"/></p>
    <img src="../public/images/line.png" width="250"/>
  </div>
    
  <div id ="left-det" class="details">
    <p>Assigned to</p>
	<h3>{{assignedTo}}</h3>
	<select hidden name="NewChildSelector" id="childSelector">
	{{#each children}}
		<option value="{{email}}">{{name}}</option>
	{{/each}}
	</select>
	  </div>
    
  <div id="right-det" class="details">
    <p>Reward</p>
    <!-- I can't work with this: <img src="../public/images/point.png" width="90" height "90"/> --->
	<div id="rewardbox">
	<h3>{{taskReward}}</h3>
	<input hidden name="NewRewardValue" id="newRewardValue" value="{{taskReward}}" />
	<p>pts</p>
	</div>
	</div>
  
  <div id="comments">
  <img src="../public/images/line.png" width="250"/>
  <p>COMMENTS</p>
  <div id="commentbox"><textarea rows="2" class=v"glyphicon-align-center" id="commentarea">Leave a comment if you want to clarify something.</textarea><p><div id= "reply_btn">
  <img src= ../public/images/reply_btn.png/>
  </div></p></div>
    

  </div>
</div>		
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>	
<script src="js/tasks_page.js"></script>
<script src="js/edit_task_page.js"></script>
</body>
</html>
